body {
  background-color: #ecf0f1;
  padding-top: 50px;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

h1, h2 {
  font-family: "Open Sans";
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
  color: #ecf0f1;
}

h2 {
  font-size: 26px;
}

p {
  font-family: "Open Sans";
  font-size: 28px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
  color: #ecf0f1;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #2c3e50;
    color: white;
}

.fa-twitter {
    background: #34495e;
    color: white;
}

.fa-linkedin {
    background: #2c3e50;
    color: white;
}

.fa-snapchat {
    background: #34495e;
    color: white;
}

.fa-youtube {
    background: #2c3e50;
    color: white;
}

.header-text {
  width: 300px;
  padding: 30px;
}

#wedding {
  width: 140px;
  padding: 30px;
  position: relative;
  right: 15px;
}

header, #form {
  margin: auto;
  background-color: #2c3e50;
  width: 750px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#form {
  height: 300px;
  margin-top: 30px;
}

form {
  background-color: #34495e;
  height: 265px;
  width: 220px;
  margin: 0;
  padding: 25px;
  padding-top: 40px;
}

#form-description {
  text-align: right;
  padding-right: 0;
  width: 150px;
  position: relative;
  left: 30px;
  bottom: 8px;
}

select, input {
  border: none;
  border-radius: 0;
  width: 200px;
  height: 40px;
  margin-top: 15px;
}

section {
  margin: 30px auto 50px auto;
  width: 780px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

img#portrait {
  width: 345px;
  height: 345px;
  margin-left: 50px;
}

#movies img {
  width: 228px;
  height: 228px;
  margin: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#sidebar {
  position: fixed;
  width: 55px;
  height: 70%;
  left: 0;
  top: 100px;
  bottom: 0;
  border-top-right-radius: 23px;
  border-bottom-right-radius: 23px;
}

@media screen and (max-width: 900px) and (min-width: 300px) {
    header {
      width: 350px;
      flex-direction: column-reverse;
      padding: 20px;
    }

    section {
       flex-direction: column;
       width: 380px;
    }

}
